.container {
  position: relative;
}

#toy {
  font-family: "Schoolbell", cursive;
  font-size: 3em;
  color: white;
}

.question {
  margin: 0 10%;
  padding: 2%;
  font-size: 1em;
  color: white;
}

.problem {
  color: white;
  font-size: 2em;
  padding: 0.5%;
}

.fizz {
  height: 300px;
  width: 300px;
  float: left;
  padding-top: 25px;
  margin-left: 150px;
  z-index: 100;
}
